@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Kdam+Thmor+Pro&family=Ubuntu&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: 0;
    list-style: none;
}


html {
    font-size: 20px;
    background-image: url('https://i.pinimg.com/564x/64/6a/ad/646aad96990be17f5451f87e73337f7b.jpg');
    background-size: auto;
}


header {
    height: 90px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


nav {
    width: 70%;
}


ul {
    display: flex;
    width: 70%;
    position: absolute;
    justify-content: flex-center;
}


li {
    width: 1%;
    height: 17px
    list-style none;
    color: brown;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-size: 55px;
    padding: 15px 20px;
    background-color: antiquewhite;
        text-align: center;
        width: 350px;
        height: 70px;
        margin-left: 90px;
        margin-top: 10px;
        padding: 5px 25px;
        border: 6px solid black;
        border-radius: 35px;
        display:inline-block;
    transition: 1s;    
}


    li:hover {
        color: black;
        background-color: rgba(255, 99, 71, 0.6);
        font: bold 700;
        transform: scale(1.1);
    }


#logo {
    width: 180px;
    height: 180px;
    margin-top: 100px;
    margin-left: 5px;
    margin-right: 5px;
    transition: 1s;
}

    #logo:hover {
        transform: scale(1.2);
    }


body {
    height: 80vh;
    width: 80vw;
}

#sinopse {
    width: 700px;
    height: 190px;
    margin-top: 900px;
    margin-left: -200px;
    margin-bottom: 40px; 
    
}

    .description {
        color: #fff;
        font-size: 25px;
        font-family: 'Ubuntu', sans-serif;
        width: 80%;
        left: 50%;
    }

    

    #formulario
    {
      position:relative;
      left:25%;
      top:170px;
      
      
    }
    #formulario #pedido
    {
      position:absolute;
      display:block;
      
    }
    
    
    fieldset
    {
      background-color:transparent;
      width:450px;
      height:360px;
      border: 8px solid black;
      border-radius: 30px;
      
    }
    legend
    {
      font-weight:bold;
      font-family: 'Ubuntu', sans-serif;
      font-size: 25px;
      color: white;
      
    }
    #pedido label
    {
        font-family: 'Ubuntu', sans-serif;
        font-size: 18px;
        color: white;

      position:absolute;
      
      margin-top: 25px;
      margin-left: 40px;
      margin-right:5px;
    }
    #pedido input.campo_email
    {
      background-color:white;
      position:absolute;
      left:140px;
      top:55px;
      width:270px;
    }
    #pedido input.campo_number
    {
      background-color:white;
      position:absolute;
      left:140px;
      top:80px;
      width:270px;
    }
    #pedido input.campo_CheckBox
    {
      background-color:white;
      position:absolute;
      left:35px;
      top:105px;
      width:225px;
    }
    #pedido textarea.msg
    {
      position:absolute;
      background-color:white;
        left: 45px;
        top:150px;
      width:375px;
      height:150px;
    }
    #formulario input.btn_submit 
    {
        border-style:groove;
        position:absolute;
        bottom: 2em;
        right: 45px;
        background-color:white;
        font-family: 'Ubuntu', sans-serif;
        font-size: 18px;
        color: black;
        font-weight:bold;
        cursor: pointer;
    }


    footer {
        height: 100px;
        margin-top: 620px;
        margin-left: 170px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    
    span {
        color: #fff;
        font-family: 'Ubuntu';
        font-size: 12px;
        margin-left: 0px;
    }
    
    .footer-navigation {
        display: none;
    }
    
    .footer-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


        @media(max-width:768px){
            .footer-navigation {
                display: block;
            }
        
            nav {
                display: none;
            }
        
            #banner {
                background-position: 21%;
            }
        
            #trailer-container {
                width: 100%;
                height: 400px;
                display: flex;
                flex-direction: column;
            }
        
            .content {
                width: 95%;
                display: flex;
                flex-direction: column;
            }
        
            .trailer {
                width: 100%;
            }
        
            #sinopse{
                width: 95%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        
            .description {
                width: 99%;
            }
        
            .button {
                width: 90%;
                margin-top: 30px;
            }
        
            .cards-content {
                grid-template-columns: 1fr;
                margin-top: 150px;
            }
        }