/* =========================
   IMPORTAÇÃO DE FONTES
   ========================= */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Kdam+Thmor+Pro&family=Ubuntu&display=swap');


/* =========================
   RESET BÁSICO
   Remove margens e estilos padrão
   ========================= */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


/* =========================
   CONFIGURAÇÕES GERAIS
   ========================= */
html {
    font-size: 20px;
    background-image: url('https://i.pinimg.com/564x/64/6a/ad/646aad96990be17f5451f87e73337f7b.jpg');
    background-size: auto;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Ubuntu', sans-serif;
}


/* =========================
   HEADER / NAVEGAÇÃO
   ========================= */
header {
    height: 90px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Área da navegação */
nav {
    width: 70%;
}

/* Lista do menu */
ul {
    display: flex;
    width: 70%;
    position: absolute;
    justify-content: space-between;
}

/* Itens do menu */
li {
    color: brown;
    cursor: pointer;
    font-size: 55px;

    background-color: antiquewhite;
    text-align: center;

    width: 350px;
    height: 70px;
    margin-top: 20px;
    padding: 5px 25px;

    border: 6px solid black;
    border-radius: 35px;

    display: inline-block;
    transition: 1s;
}

/* Hover do menu */
li:hover {
    color: black;
    background-color: rgba(255, 99, 71, 0.6);
    transform: scale(1.1);
}


/* =========================
   LOGO
   ========================= */
#logo {
    width: 180px;
    height: 180px;
    margin-top: 100px;
    margin-left: -170px;
    margin-right: -20px;
    transition: 1s;
}

#logo:hover {
    transform: scale(1.2);
}


/* =========================
   SEÇÃO DO VÍDEO / SINOPSE
   ========================= */
#trailer-container {
    width: 120%;
    height: 700px;
    display: flex;
    margin-top: 65px;
    margin-left: 350px;
}

.content {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.trailer {
    width: 70%;
}

#sinopse {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 60px;
}

.description {
    color: #fff;
    font-size: 25px;
    width: 80%;
}


/* =========================
   BOTÃO (CTA)
   ========================= */
.button {
    width: 250px;
    height: 70px;
    background-color: rgba(255, 99, 71, 0.6);
    color: #fff;

    border-radius: 5px;
    border: none;
    outline: none;

    cursor: pointer;
    transition: .8s;

    font-size: 18px;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 25px;
}

.button:hover {
    background-color: rgba(255, 99, 71, 1);
    color: #000;
    border: 5px dotted black;
    border-radius: 20px;
}


/* =========================
   CARDS DO MENU
   ========================= */
.menu-cards-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.cards-content {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;

    margin-top: 100px;
    margin-bottom: 40px;
}

.card {
    height: 600px;
    background-size: cover;
    background-position: 50% 50%;

    border: 6px solid black;
    border-radius: 20px;

    cursor: pointer;
    transition: 1s;

    display: flex;
    align-items: flex-end;

    padding: 20px 10px;
    color: #fff;
    font-size: 25px;
}

.card:hover {
    transform: scale(1.12);
    border-color: rgba(255, 99, 71, 1);
    color: rgba(255, 99, 71, 1);
    font-size: 36px;
}


/* =========================
   IMAGENS DOS CARDS
   ========================= */
.banner-1 {
    background-image: url('../assets/images/tradicional.jpg');
}

.banner-2 {
    background-image: url('../assets/images/internacional11.jpg');
}

.banner-3 {
    background-image: url('https://img.freepik.com/fotos-gratis/vista-superior-de-um-coquetel-de-chocolate-em-uma-taca-de-vidro-servida-com-uma-fatia-de-limao-e-galhos-de-pinheiro-na-mesa-azul_140725-130487.jpg');
}

.banner-4 {
    background-image: url('../assets/images/sobremesas.jpg');
}


/* =========================
   FOOTER
   ========================= */
footer {
    height: 100px;
    margin-top: 20px;
    margin-left: 170px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

footer p {
    color: #fff;
    font-size: 12px;
}

.footer-navigation {
    display: none;
}


/* =========================
   RESPONSIVIDADE (MOBILE)
   ========================= */
@media (max-width: 768px) {

    nav {
        display: none;
    }

    .footer-navigation {
        display: block;
    }

    #trailer-container {
        width: 100%;
        height: auto;
        flex-direction: column;
        margin-left: 0;
    }

    .content {
        width: 95%;
        flex-direction: column;
    }

    .trailer {
        width: 100%;
    }

    #sinopse {
        width: 95%;
    }

    .description {
        width: 100%;
    }

    .button {
        width: 90%;
        margin-top: 30px;
    }

    .cards-content {
        grid-template-columns: 1fr;
        margin-top: 150px;
    }
}
